services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      mongo:
        condition: service_healthy
    command: pnpm dev

  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test:
        ['CMD', 'bash', '-c', "echo 'db.runCommand({ ping: 1 })' | mongosh localhost:27017 --quiet"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 20s

  mailhog:
    image: mailhog/mailhog
    ports:
      - '1025:1025' # SMTP server
      - '8025:8025' # Web UI
volumes:
  mongo_data:
